ion-icon {
  color: red;
  font-size: 28px;
  --ionicon-stroke-width: 26px;
}

.control.has-icons-right .icon {
  height: 2rem;
}

input[type=checkbox] {
  vertical-align: -1px;
  width: 20px;
  height: 20px;
}

.delete-btn {
  cursor: pointer;
  /* This also enables the delete button's encompassing span to react to event listeners.
  Hopefully this doesn't get in the way of anything else */
  pointer-events: auto !important;
}